* {
    box-sizing: border-box;
    background-color:rgb(217, 233, 252);
    overflow:auto;
  }
  
  body {
      text-align:center;
  }
  
  div {
      border:1px solid rgb(5, 46, 160);
      margin-top:20px;
  }
  
  #problem {
      width: 90%;
      margin:auto;
      margin-top:20px;
      height:80px;
      text-align:left;
      color:red;
      font-family:Luminary, cursive;
      font-size:15px;
      padding-left:20px;
      padding-right:20px;
  }
  
  footer{
      margin-top:20px;
      text-align:center;
      font-size:10px;
  }
  
    img {
      width: 100%;
      height: auto;
      margin-top:5px;
      padding: 2px;
      display: none;
    }
  
    [class*="column"] { 
       width: 100%;
       display:inline-block;
       height:60vh;
    }
  
    header nav button{ 
        width:18%;
        font-size:8px;
    }
  
  @media screen and (min-width:600px) {
    [class*="column"] {
      width:32%;
    }
    
    header nav button{ 
      width:9%;
      font-size:1.2vw;
    }
  }
  
  